<div class="main-bg">
  <app-main-header [user]="user" (logout)="logout()"></app-main-header>
  <div class="container edge-to-edge">
    <div *ngIf="showLogin" class="login-wrapper">
      <app-login (login)="user = $event; showLogin = false"></app-login>
    </div>
    <div *ngIf="!showLogin" class="main-content new-layout">
      <app-main-toolbar
        [statusFilter]="statusFilter"
        [envFilter]="envFilter"
        [releaseFilter]="releaseFilter"
        [configFilter]="configFilter"
        [releases]="releases"
        [searchQuery]="searchQuery"
        [canEdit]="canEdit"
        [canCreate]="canCreate"
        (statusFilterChange)="onStatusFilterChange($event)"
        (envFilterChange)="onEnvFilterChange($event)"
        (releaseFilterChange)="onReleaseFilterChange($event)"
        (configFilterChange)="onConfigFilterChange($event)"
        (searchChange)="onSearchChange($event)"
        (editRequest)="onEditRequest()"
        (newRequest)="onNewRequest()"
      ></app-main-toolbar>
      <div class="content-row flex-content-row">
        <app-request-list
          [deployments]="filteredDeployments"
          [selectedDeployment]="selectedDeployment"
          (deploymentSelected)="selectDeployment($event)">
        </app-request-list>
        <div class="main-panel">
          <div class="main-panel-content">
            <app-request-details 
              [deployment]="selectedDeployment" 
              [user]="user"
              (deploymentUpdate)="onDeploymentUpdate($event)">
            </app-request-details>
          </div>
        </div>
      </div>
      <app-bottom-toolbar
        [releases]="releases"
        [environments]="['UAT1','UAT2','UAT3','DEV1','DEV2','DEV3','PERF','PROD']"
        [teams]="teams"
        [selectedRelease]="exportReleaseFilter"
        [selectedEnv]="exportEnvFilter"
        [selectedTeam]="exportTeamFilter"
        (selectedReleaseChange)="onExportReleaseFilterChange($event)"
        (selectedEnvChange)="onExportEnvFilterChange($event)"
        (selectedTeamChange)="onExportTeamFilterChange($event)"
        (exportCSV)="onExportCSV($event)"
      ></app-bottom-toolbar>
    </div>
  </div>
</div>